[Unit]
Description=iot-monolith

[Service]
Type=simple
PIDFile=/run/iot-monolith/iot-monolith.pid
Environment="LOG_LEVEL=6"
Environment="LOG_TELEGRAM=0"
Environment="PROD_ENV=1"
# Environment="TELEGRAM_TOKEN=SECRET"
WorkingDirectory=/opt/iot-monolith/
ExecStart=/usr/bin/node --use_strict --experimental-modules --enable-source-maps --stack-trace-limit=100 dist/index.js
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal+console
SyslogLevel=debug
SyslogIdentifier=iot-monolith

[Install]
WantedBy=multi-user.target
Alias=iot-monolith.service
