[Unit]
Description=iot-monolith

[Service]
Type=simple
PIDFile=/run/iot-monolith/iot-monolith.pid
WorkingDirectory=/usr/local/scripts/iot-monolith/
ExecStart=/usr/local/scripts/iot-monolith/run.sh
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=iot-monolith

[Install]
WantedBy=multi-user.target
Alias=iot-monolith.service
