apiVersion: apps/v1
kind: Deployment
metadata:
  annotations: {}
  name: iot-monolith
  labels:
    app: iot-monolith
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iot-monolith
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: iot-monolith
    spec:
      containers:
        - image: {IMAGE}
          imagePullPolicy: IfNotPresent
          name: iot-monolith
          ports:
            - containerPort: 1337
              name: http
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /health
              port: 1337
              scheme: HTTP
            failureThreshold: 3
            initialDelaySeconds: 1
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          volumeMounts:
          - mountPath: "/var/opt/iot-monolith"
            name: local-storage
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsUser: 1000
      volumes:
      - name: local-storage
        persistentVolumeClaim:
          claimName: iot-monolith
      imagePullSecrets:
        - name: regcred
      restartPolicy: Always
